/*整体试卷样式*/
body {
  background-color: #e9f0f8;
  margin: 0;
  padding: 0;
  font-size: small;
  font-family: 微软雅黑, "lucida grande", helvetica, verdana, arial, sans-serif;
}

a {
  outline: none;
}

#dvExamInfo {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}
/*试卷标题样式*/
#hTitle {
  height: 88px;
  background: url("../images/ExamImages/view_bg.png") repeat-x;
  min-width: 740px;
}

#hTitle span {
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
  background: url("../images/ExamImages/xhbg.png") repeat;
  line-height: 25px;
  margin-top: 40px;
  display: block;
  width: auto;
  float: left;
  height: 25px;
  padding: 0 10px;
}
/*加载中样式*/
#imgloading {
  z-index: 10001;
  top: 50%;
  left: 50%;
  position: absolute;
}
/*取消超链接下划线*/
#dvExamInfo > a {
  height: 40px;
  display: block;
  width: 100%;
  text-decoration: none;
  background: url("../images/ExamImages/bancf.png") repeat-x 0 top;
  margin-top: 11px;
}

#dvExamInfo > a > div {
  width: 26px;
  height: 16px;
  float: right;
  margin-right: 35px;
  margin-top: 6px;
  background: url("../images/ExamImages/jh.png") no-repeat;
}

#dvExamInfo > a > h3 {
  height: 40px;
  color: black;
  padding-left: 20px;
  background: url("../images/ExamImages/tbg.png") no-repeat 0 top;
}

.sQFaceInfo {
  font-size: 16px;
}

.sQFaceInfo p {
  padding: 0px 25px 0px 25px;
  line-height: 2em;
  text-indent: 2em;
}
/*偶数行样式*/
.EvenStyle {
  width: 90%;
  padding: 10px 25px 0 25px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.EvenStyle > span,
.sQFaceInfo > span {
  display: block;
  width: 86px;
  height: 29px;
  position: absolute;
  left: 32px;
  top: -6px;
  color: black;
  text-align: center;
  font-size: 14px;
  background: url("../images/ExamImages/view_an.png") no-repeat;
}
/*题干阅读文本缩进*/
.sQFaceInfo p {
  margin: 0;
}

.clear {
  clear: both;
}

.sectionDiv {
  width: 100%;
  position: relative;
}
/*小题标题样式*/
.childTitle {
  font-size: 16px;
}

.childTitle span {
  margin-left: 15px;
}

.childTitle p {
  word-wrap: break-word;
}

.LineHeight {
  margin-left: 25px;
}

@media print {
  #btnPrint {
    display: none;
  }
  .sQFaceInfo,
  .sectionDiv {
    display: block;
  }
}
